// Aqui posar el SCSS addicional per a suport del tema.

body {
    font-size: 14px;
    line-height: 21px;
}
#portal-globalnav, .template-homepage #portal-breadcrumbs {
    display: none;
}
#portal-column-content .portada .span4 {
    margin-left: 0;
    margin-right: 15px;
    width: 31%;
}
#portal-column-content .portada .span4:hover {
background: #f5f5f5;
	}
.subnavbar .nav-list {
	 padding-left: 0;
}
.subnavbar .nav-list a {
	text-transform: none;
	padding:10px 10px 10px 12px!important;
}
.carousel-control {
    opacity: 0.1;
}

.template-homepage #content-area, .template-homepage #portal-column-content {
    margin-bottom: 0;
    margin-top: 0;
}
.template-homepage [class*="span"], .template-homepage .cella {
    float: left;
    margin-bottom: 10px;
    margin-left: 30px;
}
.text_Destacat {
    margin-left: 20px !important;
}
.imatge_Destacada img {
    margin-bottom: 5px;
}
.pad > h1 {
    font-size: 35px;
    margin-bottom: 15px;
}
.pad > p {
    font-size: 16px;
    line-height: 24px;
}
.nav > li {
    padding-top: 0;
}
.portada .fa {
    background: none repeat scroll 0 0 #333333;
    border-radius: 70px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 35px;
    margin-right: 13px;
    margin-top: 20px;
    min-width: 40px;
    padding: 20px;
    text-align: center;
}
.portada .fa-bar-chart-o {
    background: none repeat scroll 0 0 #eb6039;
}
.portada .fa-money {
    background: none repeat scroll 0 0 #00a058;
}
.portada .fa-unlock-alt {
    background: none repeat scroll 0 0 #794c9f;
}
.portada .fa-thumbs-o-up {
    background: none repeat scroll 0 0 #f1b531;
}
.portada .fa-building-o {
    background: none repeat scroll 0 0 #5b8cc6;
}
.portada .fa-book {
    background: none repeat scroll 0 0 #5db6c6;
}
.portada .span4 > p {
    line-height: 19px;
}
.portada a {color:black;}
.accordion-group {
    border-radius: 0;
    margin-bottom: 5px;
}
.template-indicadors_transparencia {
table {
	a {
		color:black;
	}
	td {
		vertical-align: middle;
	}
	.fa {
    border-radius: 30px;
    color: #FFFFFF;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 35%;
    min-width: 16px;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
	}
	.fa-thumbs-o-up {
    background: none repeat scroll 0 0 #00A058;
	}
	.fa-thumbs-o-down {
	background: none repeat scroll 0 0 #EB6039;
	}
	.fa-eye {
	background: none repeat scroll 0 0 #F1B531;
	}
    .fa-exclamation {
    background: none repeat scroll 0 0 #5B8CC6;
    }
}

}

.ico {
    background: none repeat scroll 0 0 #F5F5F5;
    color:#333;
    border: 1px solid #ddd;
    border-top:4px solid #999;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
    width: 20%;
    border-radius: 0;
    a {
     color:#333;
    }
    .fa {
    background: none repeat scroll 0 0 #008000;
    border-radius: 30px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 35%;
    min-width: 30px;
    opacity: 0.8;
    padding: 14px;
    text-align: center;
    }
    .fa-thumbs-o-up {
        background: none repeat scroll 0 0 #00A058;
    }
    .fa-thumbs-o-down {
        background: none repeat scroll 0 0 #EB6039;
    }
    .fa-eye {
        background: none repeat scroll 0 0 #F1B531;
    }
    .fa-exclamation {
        background: none repeat scroll 0 0 #5B8CC6;
    }
    h4 {
    color:#333!important;   
    text-align: left;     
    }
    p {
    font-size: 13px;
    line-height: 30px;
    margin-left: 10px;
    }
.lleis2 {
    ul {
    margin-left: 0;
    margin-top:20px;
    }
    li {
    list-style: none outside none;
    margin-bottom: 15px;
    text-align: left;
    }
    .external-link {
    float: none;
    font-size: 13px;
    padding: 0;
    text-align: left;
    }
    .fa {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #333333;
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0 5px 0 0;
    min-width: 0;   
    padding: 0;
    text-align: left;
    }
}    
.avis .portalMessage {
    border-radius: 0;
    }
}
#peu {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px dotted #EEEEEE;
    font-size: 92.3077%;
    margin-top: 20px;
    padding-top: 10px;
}
.avis {
    margin-bottom: 25px;
    }

// Canvis CSS Pilar

.datetimewidget-time {
    display: none;
}

#form-widgets-start-day{
    width: 115px;
}

#form-widgets-start-month{
    width: 115px;
}

#form-widgets-start-year{
    width: 115px;
}

#form-widgets-end-day{
    width: 115px;
}

#form-widgets-end-month{
    width: 115px;
}

#form-widgets-end-year{
    width: 115px;
}

#calmonth{
    width: 145px;
}

#calyear{
    width: 145px;
}

#formfield-form-widgets-keywords_llei {
    width: 550px;
}

#formfield-form-widgets-keywords_categories {
    width: 550px;
}

#form-widgets-valoracio_publicat {
    width: 20px;
}

#form-widgets-valoracio_comprensio {
    width: 20px;
}

#form-widgets-IDublinCore-title {    
    height: auto;
    max-width: 100%;
    min-width: 210px;
    min-height: 30px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Afegit Pilar pendent revisar Marc.

.apartat .fa {
    background: none repeat scroll 0 0 #333333;
    border-radius: 70px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 35px;
    margin-right: 13px;
    margin-top: 20px;
    min-width: 40px;
    padding: 20px;
    text-align: center;
}
.apartat .fa-bar-chart-o {
    background: none repeat scroll 0 0 #eb6039;
}
.apartat .fa-money {
    background: none repeat scroll 0 0 #00a058;
}
.apartat .fa-unlock-alt {
    background: none repeat scroll 0 0 #794c9f;
}
.apartat .fa-thumbs-o-up {
    background: none repeat scroll 0 0 #f1b531;
}
.apartat .fa-building-o {
    background: none repeat scroll 0 0 #5b8cc6;
}
.apartat .fa-book {
    background: none repeat scroll 0 0 #5db6c6;
}
.apartat .span4 > p {
    line-height: 19px;
}
.apartat a {color:black;}
.accordion-group {
    border-radius: 0;
    margin-bottom: 5px;
}

.apartat.span4 {
    width: 30% !important;
    border: none;
}

.ico {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #999999 #DDDDDD #DDDDDD;
    border-image: none;
    border-radius: 0;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 4px 1px 1px;
    color: #333333;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
    width: 20%;
}
.fa.fa-external-link {
    font-size: 24px;
}
.lleis2 li {
    list-style: none outside none;
}
.lleis2 {
    margin-top: 20px;
}
.lleis2 h4 {
    margin-bottom: 15px;
}
.lleis2 > ul {
    margin-left: 0;
}
.lleis2 li {
    list-style: none outside none;
    margin-bottom: 5px;
}
.lleis2 .fa {
    color: #aaa;
    font-size: 16px;
    margin-right: 7px;
}
.docsrelacionats {
    .fa {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #aaa;
    display: inline-block;
    float: left;
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-left: 0;
    margin-right: 8px;
    min-width: 0;
    opacity: 1;
    padding: 0;
    text-align: left;
    margin-top: 2px;
    }
    fa-book {
    font-size: 32px;
    margin-top: -4px;
    }
    h4 {
    font-size: 115.385%;
    line-height: 18px;
    margin-bottom: 20px;
    }
    ul {
    margin-left: 0;
    }
    li {
    list-style: none outside none;
    margin-bottom: 10px;
    text-align: left;
    }
}
.subsection-ley-de-transparencia {
    float: none;
}

#portal-header {
    background: none repeat scroll 0 0 white;
    border-bottom: medium none;
    border-top: 2px solid #0073B8;
    margin: 0 auto;    
    margin-bottom: 30px !important;
}

