/* line 3, ../scss/TransparenciaTheme.scss */
body {
  font-size: 14px;
  line-height: 21px;
}

/* line 7, ../scss/TransparenciaTheme.scss */
#portal-globalnav, .template-homepage #portal-breadcrumbs {
  display: none;
}

/* line 10, ../scss/TransparenciaTheme.scss */
#portal-column-content .portada .span4 {
  margin-left: 0;
  margin-right: 15px;
  width: 31%;
}

/* line 15, ../scss/TransparenciaTheme.scss */
#portal-column-content .portada .span4:hover {
  background: #f5f5f5;
}

/* line 18, ../scss/TransparenciaTheme.scss */
.subnavbar .nav-list {
  padding-left: 0;
}

/* line 21, ../scss/TransparenciaTheme.scss */
.subnavbar .nav-list a {
  text-transform: none;
  padding: 10px 10px 10px 12px !important;
}

/* line 25, ../scss/TransparenciaTheme.scss */
.carousel-control {
  opacity: 0.1;
}

/* line 29, ../scss/TransparenciaTheme.scss */
.template-homepage #content-area, .template-homepage #portal-column-content {
  margin-bottom: 0;
  margin-top: 0;
}

/* line 33, ../scss/TransparenciaTheme.scss */
.template-homepage [class*="span"], .template-homepage .cella {
  float: left;
  margin-bottom: 10px;
  margin-left: 30px;
}

/* line 38, ../scss/TransparenciaTheme.scss */
.text_Destacat {
  margin-left: 20px !important;
}

/* line 41, ../scss/TransparenciaTheme.scss */
.imatge_Destacada img {
  margin-bottom: 5px;
}

/* line 44, ../scss/TransparenciaTheme.scss */
.pad > h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

/* line 48, ../scss/TransparenciaTheme.scss */
.pad > p {
  font-size: 16px;
  line-height: 24px;
}

/* line 52, ../scss/TransparenciaTheme.scss */
.nav > li {
  padding-top: 0;
}

/* line 55, ../scss/TransparenciaTheme.scss */
.portada .fa {
  background: none repeat scroll 0 0 #333333;
  border-radius: 70px;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 35px;
  margin-right: 13px;
  margin-top: 20px;
  min-width: 40px;
  padding: 20px;
  text-align: center;
}

/* line 73, ../scss/TransparenciaTheme.scss */
.portada .fa-bar-chart-o {
  background: none repeat scroll 0 0 #eb6039;
}

/* line 76, ../scss/TransparenciaTheme.scss */
.portada .fa-money {
  background: none repeat scroll 0 0 #00a058;
}

/* line 79, ../scss/TransparenciaTheme.scss */
.portada .fa-unlock-alt {
  background: none repeat scroll 0 0 #794c9f;
}

/* line 82, ../scss/TransparenciaTheme.scss */
.portada .fa-thumbs-o-up {
  background: none repeat scroll 0 0 #f1b531;
}

/* line 85, ../scss/TransparenciaTheme.scss */
.portada .fa-building-o {
  background: none repeat scroll 0 0 #5b8cc6;
}

/* line 88, ../scss/TransparenciaTheme.scss */
.portada .fa-book {
  background: none repeat scroll 0 0 #5db6c6;
}

/* line 91, ../scss/TransparenciaTheme.scss */
.portada .span4 > p {
  line-height: 19px;
}

/* line 94, ../scss/TransparenciaTheme.scss */
.portada a {
  color: black;
}

/* line 95, ../scss/TransparenciaTheme.scss */
.accordion-group {
  border-radius: 0;
  margin-bottom: 5px;
}

/* line 101, ../scss/TransparenciaTheme.scss */
.site-Transparencia table a {
  color: black;
}
/* line 104, ../scss/TransparenciaTheme.scss */
.site-Transparencia table td {
  vertical-align: middle;
}
/* line 107, ../scss/TransparenciaTheme.scss */
.site-Transparencia table .fa {
  border-radius: 30px;
  color: #FFFFFF;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 35%;
  min-width: 16px;
  opacity: 0.8;
  padding: 10px;
  text-align: center;
}
/* line 122, ../scss/TransparenciaTheme.scss */
.site-Transparencia table .fa-thumbs-o-up {
  background: none repeat scroll 0 0 #00A058;
}
/* line 125, ../scss/TransparenciaTheme.scss */
.site-Transparencia table .fa-thumbs-o-down {
  background: none repeat scroll 0 0 #EB6039;
}
/* line 128, ../scss/TransparenciaTheme.scss */
.site-Transparencia table .fa-eye {
  background: none repeat scroll 0 0 #F1B531;
}
/* line 131, ../scss/TransparenciaTheme.scss */
.site-Transparencia table .fa-exclamation {
  background: none repeat scroll 0 0 #5B8CC6;
}

/* line 138, ../scss/TransparenciaTheme.scss */
.docsrelacionats .fa {
  color: #AAAAAA;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: 15px;
}
/* line 149, ../scss/TransparenciaTheme.scss */
.docsrelacionats fa-book {
  font-size: 32px;
  margin-top: -4px;
}
/* line 153, ../scss/TransparenciaTheme.scss */
.docsrelacionats h4 {
  font-size: 115.385%;
  line-height: 18px;
  margin-bottom: 20px;
}
/* line 158, ../scss/TransparenciaTheme.scss */
.docsrelacionats ul {
  margin-left: 0;
}
/* line 161, ../scss/TransparenciaTheme.scss */
.docsrelacionats li {
  list-style: none outside none;
  margin-bottom: 25px;
  text-align: left;
}

/* line 167, ../scss/TransparenciaTheme.scss */
.ico {
  background: none repeat scroll 0 0 #F5F5F5;
  color: #333;
  border: 1px solid #ddd;
  border-top: 4px solid #999;
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  width: 20%;
  border-radius: 0;
}
/* line 177, ../scss/TransparenciaTheme.scss */
.ico a {
  color: #333;
}
/* line 180, ../scss/TransparenciaTheme.scss */
.ico .fa {
  background: none repeat scroll 0 0 #008000;
  border-radius: 30px;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 35%;
  min-width: 30px;
  opacity: 0.8;
  padding: 14px;
  text-align: center;
}
/* line 197, ../scss/TransparenciaTheme.scss */
.ico h4 {
  color: #333333 !important;
  text-align: left;
}
/* line 201, ../scss/TransparenciaTheme.scss */
.ico p {
  font-size: 13px;
  line-height: 30px;
  margin-left: 10px;
}
/* line 207, ../scss/TransparenciaTheme.scss */
.ico .lleis2 ul {
  margin-left: 0;
  margin-top: 20px;
}
/* line 211, ../scss/TransparenciaTheme.scss */
.ico .lleis2 li {
  list-style: none outside none;
  margin-bottom: 15px;
  text-align: left;
}
/* line 216, ../scss/TransparenciaTheme.scss */
.ico .lleis2 .external-link {
  float: none;
  font-size: 13px;
  padding: 0;
  text-align: left;
}
/* line 222, ../scss/TransparenciaTheme.scss */
.ico .lleis2 .fa {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #333333;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0 5px 0 0;
  min-width: 0;
  padding: 0;
  text-align: left;
}
/* line 239, ../scss/TransparenciaTheme.scss */
.ico .avis .portalMessage {
  border-radius: 0;
}

/* line 243, ../scss/TransparenciaTheme.scss */
#peu {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px dotted #EEEEEE;
  font-size: 92.3077%;
  margin-top: 20px;
  padding-top: 10px;
}

/* line 250, ../scss/TransparenciaTheme.scss */
.avis {
  margin-bottom: 25px;
}
